body{
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.titulo {
    font-family: monospace;
    color: black;
}

.subtitulo {
    font-family: monospace;
}
